/* app/global.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* horizontal scroll remove */
  font-family: sans-serif;
  background-color: #0f172a;
  color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
